/* wrapper styles */
.carousel-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 5px;
  box-sizing: border-box;
}

.carousel-viewport {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  max-width: 100%;
  border: 1px solid #ccc;
  overscroll-behavior-block: contain;
  transform-origin: center;
}

.slides-wrapper {
  position: relative;
  display: flex;
}

/* slide styles */
.carousel-slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.carousel-slide .inner-wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #fff;
  font-size: 20px;
  padding: 5px;
}

.carousel-slide img {
  opacity: 1;
  transition: opacity 0.5s ease-in;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.carousel-slide img.loading,
.carousel-slide img.moving {
  opacity: 0;
}

/* loader styles */
.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted #000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  position: absolute;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.error button {
  padding: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}
