.carousel-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.carousel-viewport {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  max-width: 100%;
}

/* slide styles */
.carousel-slide {
  position: relative;
}

.carousel-slide .inner-wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #fff;
  font-size: 20px;
  padding: 5px;
}

.carousel-slide img {
  opacity: 1;
  transition: opacity 0.5s linear;
  max-width: 100%;
}

.carousel-slide img.loading {
  opacity: 0;
}

.slides-wrapper {
  position: relative;
  display: flex;
}
